@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <div class="banner  ">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    خاطرات سفر خود را با ما شروع کنید
                </div>
                <div class="banner-sub-heading">
                    با ما می‌توانید اطلاعات جامعی از مکان های گردشگری داخلی و خارجی بدست آورید و انتخاب راحتی داشته باشید
                </div>
                <button type="button" class="btn btn-light text-dark btn-banner">بزن بریم</button>
            </div>
        </div>
    </div>

    <section id="about">
        <div class="container">
            <div class="row" style="direction: rtl;">
                <div class="col-xl-12">
                    <h2 class="text-right" style="margin-bottom: 25px;">کجا میخوای بری ؟</h2>
                    <form form class="example" action="/action_page.php">
                        <button type="submit"><i class="fa fa-search"></i></button>
                        <input type="text" placeholder="جستجو ..." name="search">

                    </form>
                </div>
            </div>
            <br>
            <div class="row first-row">
                <div class="col-xl-6  col-md-12 col-sm-12 text-center one-left">
                    <img src="~/TravellingFlatArt.jpg" alt="">
                </div>
                <div class="col-xl-6  col-md-12 col-sm-12 one-right">
                    <h2>میدونستی به هیچکدوم از اینا نیاز نداری ؟</h2>
                    <p>
                        برای سفر کردن به جای جدید تا الان مجبور بودی ریسک کنی.، و احتمال اینکه اون شهر یا مکان دوست نداشته باشی زیاد بود. برای جلوگیری از این اتفاق مجبوری نظرا مردم بپرسی!! اصن میدونی چند نفر از اطرافیانت اونجا رفتن؟!؟!
                        ما بهت کمک میکنیم تا نظر هر شخصی که اونجا رفته رو ببینی و اطلاعات جامعی از اون محل رو در اختیارت میزاریم..
                        پس ریسکش کمتر شدو اطلاعاتت بیشتر...
                        به ما اعتماد کن
                    </p>
                </div>
            </div>

            <h4 class="text-right">میدونستی محبوب ترین جاذبه های گردشگری رو میدونستی ؟</h4>
            <div class="row second-row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            @for (int i = 1; i < Model.PopularList.Count; i++)
                            {
                                <li data-target="#demo" data-slide-to="0"></li>
                            }
                        </ul>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/pasargad.jpg" alt="china">
                                <div class="carousel-caption">
                                    <a asp-page="./Place" asp-route-id="@Model.PopularList[0].Id">
                                        <h3 class="myslider-title">@Model.PopularList[0].TuristPlaceName</h3>
                                    </a>
                                    @for (int i = 0; i < Convert.ToInt32(Model.PopularList[0].Rate); i++)
                                    {
                                        <span class="fa fa-star checked" style="color: darkorange"></span>
                                    }
                                    @if (Model.PopularList[0].Rate - 5 != 0)
                                    {
                                        <span class="fa fa-star"></span>
                                    }
                                </div>
                            </div>
                            @for (int i = 1; i < Model.PopularList.Count; i++)
                            {
                                <div class="carousel-item">
                                    <img src="~/pasargad.jpg" alt="turkey">
                                    <div class="carousel-caption">
                                        <a asp-page="/Place" asp-route-id="@Model.PopularList[i].Id">
                                            <h3 class="myslider-title">@Model.PopularList[i].TuristPlaceName </h3>
                                        </a>

                                        @for (int j = 0; j < Convert.ToInt32(Model.PopularList[i].Rate); j++)
                                        {
                                            <span class="fa fa-star checked" style="color:darkorange"></span>
                                        }
                                        @while (Model.PopularList[i].Rate - 5 < 0)
                                        {
                                            <span class="fa fa-star"></span>
                                            Model.PopularList[i].Rate++;
                                        }

                                    </div>
                                </div>

                            }

                        </div>
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>

            <h4 class="text-right popular-title myboxes-title">پربازدید ترین مکان های گردشگری</h4>
            <div class="row">
                @for (int i = 0; i < Model.Newplaces.Turism_Places.Count; i++)
                {
                    if (i < 2)
                    {
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 one-box-cards">
                            <div class="card main-card">
                                <img src="~/pplace.jpg"
                                     class="card-img-top"
                                     alt="@Model.Newplaces.Turism_Places[i].TuristPlaceName" />
                                <div class="card-body text-right">
                                    <h5 class="card-title">@Model.Newplaces.Turism_Places[i].TuristPlaceName</h5>
                                    <p class="card-text">
                                    <p>
                                        @Model.Newplaces.Turism_Places[i].Description
                                    </p>
                                    <a asp-page="/Place" asp-route-id="@Model.Newplaces.Turism_Places[i].Id" class="btn btn-primary">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 one-box-cards two-box-cards">
                            <div class="card main-card">
                                <img src="~/pplace.jpg"
                                     class="card-img-top"
                                     alt="@Model.Newplaces.Turism_Places[i].TuristPlaceName" />
                                <div class="card-body text-right">
                                    <h5 class="card-title">@Model.Newplaces.Turism_Places[i].TuristPlaceName</h5>
                                    <p class="card-text">
                                    <p>
                                        @Model.Newplaces.Turism_Places[i].Description
                                    </p>
                                    <a asp-page="/Place" asp-route-id="@Model.Newplaces.Turism_Places[i].Id" class="btn btn-primary">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>

                    }

                }
            </div>


            <h4 class="text-right popular-title myboxes-title">جدید ترین مکان های گردشگری</h4>
            <div class="row">
                @for (int i = 0; i < Model.Newplaces.Turism_Places.Count; i++)
                {
                    if (i < 2)
                    {
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 one-box-cards">
                            <div class="card main-card">
                                <img src="~/pplace.jpg"
                                     class="card-img-top"
                                     alt="@Model.Newplaces.Turism_Places[i].TuristPlaceName" />
                                <div class="card-body text-right">
                                    <h5 class="card-title">@Model.Newplaces.Turism_Places[i].TuristPlaceName</h5>
                                    <p class="card-text">
                                    <p>
                                        @Model.Newplaces.Turism_Places[i].Description
                                    </p>
                                    <a asp-page="/Place" asp-route-id="@Model.Newplaces.Turism_Places[i].Id" class="btn btn-primary">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 one-box-cards two-box-cards">
                            <div class="card main-card">
                                <img src="~/pplace.jpg"
                                     class="card-img-top"
                                     alt="@Model.Newplaces.Turism_Places[i].TuristPlaceName" />
                                <div class="card-body text-right">
                                    <h5 class="card-title">@Model.Newplaces.Turism_Places[i].TuristPlaceName</h5>
                                    <p class="card-text">
                                    <p>
                                        @Model.Newplaces.Turism_Places[i].Description
                                    </p>
                                    <a asp-page="/Place" asp-route-id="@Model.Newplaces.Turism_Places[i].Id" class="btn btn-primary">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>

                    }

                }
            </div>
          

            <div id="accordion" class="text-right" style="margin-top: 100px;">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                اجتناب از خوردن غذا در نزدیکی مکان های توریستی
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            اولین نکته ای که مسافران و مخصوصا نو سفر ها باید بدانند،
                            نخوردن غذا در رستوران هایی است که در مجاورت مکان های توریستی واقع شده اند. این رستوران ها معمولا بی جهت گران اند
                            و رستوران هایی هستند که غذاهای اصیل محلی هم سرو نمی کنند. 
                            به شدت توصیه می شود تحقیقات درستی در خصوص جاهایی که غذاهای محلی سرو می کنند، انجام دهید تا هم پولتان بیخود و بی جهت هدر نرود
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                تا جاییکه امکان دارد پول نقدر کمی با خود حمل کنید
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            همراه داشتن مقدار زیادی پول نقد مطمئنا کار عاقلانه ای نیست 
                            چون در حین سفر خیلی بیشتر از زمانی که در کشور خود هستید، مستعد قرار گرفتن در معرض جیب برها و سارقان می باشید. 
                            اگر به پول نقد نیاز دارید همه ی پول تان را در یک جا نگه ندارید.
                            سعی کنید پول نقد خود را در جاهای مختلفی از کیف و داخل لباستان جا ساز کنید. 
                            این کار باعث می شود اگر هدف جیب برها قرار گرفتید، تمام پول تان گم نشود
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                متناسب با آداب جایی که سفر می کنید، لباس بپوشید
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            همیشه در حین سفر به خاطر داشته باشید مردم هر کشور از آداب لباس پوشیدن خاصی تبعیت می کنند.
                            در حالیکه در کشور های اروپایی برای پوشیدن لباس های کوتاه مشکلی وجود ندارد، در کشورهای اسلامی اینکار ممکن است شما را به دردسر بیندازد. 
                            همانطور که در ضرب المثل معروف "خواهی نشوی رسوا همرنگ جماعت شو" آمده، عاقلانه است که از آداب و رسوم محلی پیروی کنید و کارهایی که به نظر محلی ها بی احترامی تلقی می شود را انجام ندهید. 
                            خانم ها بهتر است همیشه یک روسری بلند به همراه داشته باشند چون می تواند در موقعیت های زیادی مورد استفاده قرار گیرد
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="mybutton">
        <button class="feedback btn btn-info">مقایسه جاذبه های گردشگری</button>
    </div>



</div>
