@page
@model Travellingfront.Pages.PlaceModel
@{
    ViewData["Title"] = "Place page";
}
<link href="~/css/Place/Place.css" rel="stylesheet" />
<div class="text-center">

    <div class="banner" style="background-image: url('../../image/@Model.getPlace.Image')">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    @Model.getPlace.Name
                </div>
            </div>
        </div>
    </div>

    <section id="about">
        <div class="container">
            <div class="row first-row">
                <div class="col-xl-6  turistplace-left">
                    <h1>@Model.getPlace.Name</h1>
                    <p>
                        @Model.getPlace.Description
                    </p>
                    <h3>
                        امتیاز :
                        @for (int i = 0; i < Convert.ToInt32(Model.getPlace.AverageRates); i++)
                        {
                            <span class="fa fa-star checked"></span>
                        }
                        @while (Model.getPlace.AverageRates < 5)
                        {
                            <span class="fa fa-star"></span>
                            Model.getPlace.AverageRates++;
                        }
                        <span class="text text-info">بازدید :@Model.getPlace.Visit</span>
                    </h3>

                </div>
                <div class="col-xl-6 text-center turistplace-right">
                    <img src="~/image/@Model.getPlace.Image" alt="" class="myimage">
                </div>
            </div>

            @if (Model.CurrentUser != null)
            {
                <p id="login" asp-for="NewComment.UserId">@Model.CurrentUser.Id</p>
                <p id="email">@Model.CurrentUser.UserName</p>
                <p id="place" asp-for="NewComment.TuristPlace">@Model.getPlace.Id</p>
            }
            else
            {
                <p id="login">logout</p>
                <p id="email">logout</p>
                <p id="place" asp-for="NewComment.TuristPlace">@Model.getPlace.Id</p>
            }
            <div class="row second-row">
                <div class="col-xl-6 text-right comment-box">
                    <h3 class="text-center">نظر شما</h3>
                    <form style="margin-top: 30px;" method="post">
                        <div class="form-group">
                            <label for="comment">نظر:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                            <br />
                            <button type="button" class="btn btn-primary" style="font-size:13px ; padding:12px; border-radius:100% ; " id="commentsend">ثبت</button>
                        </div>
                        <h5 data-mdb-toggle="rating">
                            امتیاز شما :
                            <span class="fa fa-star" id="1"></span>
                            <span class="fa fa-star" id="2"></span>
                            <span class="fa fa-star" id="3"></span>
                            <span class="fa fa-star" id="4"></span>
                            <span class="fa fa-star" id="5"></span>

                            <button type="button" class="btn btn-primary" id="sendrate" style="font-size:13px ; padding:12px; border-radius:100% ; ">امتیاز منو ثبت کن</button>
                        </h5>
                    </form>
                </div>
                <div class="col-xl-6 text-right show-comments">
                    <h3 class="text-center">@Model.PlacesComment.Count : نظرات</h3>

                    <div class="row">
                        <div class="col-xl-12 other-comments">
                            @for (int i = 0; i < Model.PlacesComment.Count; i++)
                            {
                                <h6 id="profile"><img id="profileimg" src="~/profile.png">@Model.PlacesComment[i].UserName</h6>
                                <p>
                                    @Model.PlacesComment[i].Text
                                </p>

                            }
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </section>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            document.getElementById("login").style.display = "none";
            document.getElementById("sendrate").style.display = "none";
            document.getElementById("commentsend").style.display = "none";
            document.getElementById("email").style.display = "none";
            document.getElementById("place").style.display = "none";
            var star;
            var comment;
            var user;
            var disabale;
            $(".fa-star").click(function () {
                if ($("#login").text() == "logout") {
                    var result = confirm("شماوارد نشدید.آیا عضو سایت هستید؟");
                    if (result == true)
                        window.location = '/Login'
                    else if (result == false)
                        window.Location = "/Signin"
                }
                else {
                    user = $("#login").text()
                    clear();
                    var starcount = $(this).attr("id");
                    var starrate = $(this).parent().children("span");
                    for (var i = 0; i < starrate.length; i++) {
                        if (starrate[i].getAttribute("id") <= starcount)
                            starrate[i].classList.add("checked");
                    }

                    document.getElementById("sendrate").style.display = "inline";
                    star = starcount;

                }
            });
            $("#sendrate").click(function () {

                star = parseInt(star);
                console.log(user);
                var place1 = $("#place").text();
                place1 = parseInt(place1);
                console.log(typeof (user))
                var settings = {
                    "url": "https://localhost:44375/api/Rate/AddRate",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "data": JSON.stringify({ "rate": star, "place": place1, "UserId": user }),
                };

                $.ajax(settings).done(function (response) {
                    alert("رای شما ثبت شد");
                });

            });
            $("#comment").click(function () {
                if ($("#login").text() == "logout") {
                    $(this).attr('disabled', 'true');
                    disabale = true;
                    var result = confirm("شماوارد نشدید.آیا عضو سایت هستید؟");
                    if (result == true)
                        window.location = '/Login'
                }
                else {
                    user = $("#login").text();
                    disabale = false;
                    $("#commentsend").css("display", "inline");
                }
            });
           
            $("#commentsend").click(function () {
                var place1 = $("#place").text();
                place1 = parseInt(place1);
                comment = $("#comment").val();
                if (comment != "") {

                    var settings = {
                        "url": "https://localhost:44375/api/Comment/CreateComment",
                        "method": "POST",
                        "timeout": 0,
                        "headers": {

                            "Content-Type": "application/json"
                        },
                        "data": JSON.stringify({ "comment": comment, "TuristPlace": place1, "UserId": user }),
                    };

                    $.ajax(settings).done(function (response) {
                        $(".other-comments").last().append("<h6 id='profile'><img id='profileimg'>" + $("#email").text() + "</h6>");
                        $("#profileimg").last().attr("src", "../../profile.png");
                        $(".other-comments").last().append("<p>" + comment + "</p>");
                    });
                }
                else {
                    alert("نظری ننوشته اید..");
                }
               
            })
            function clear() {
                var stars = $("h5").children("span");
                for (var i = 0; i < stars.length; i++) {
                    if (stars[i].classList.contains("checked"))
                        stars[i].classList.remove("checked");
                }
            }

        })

    </script>
}


