@page
@model Travellingfront.Pages.Admins.AdminpannelModel
@{
}
<head>
    <link href="~/css/Admin/admin.css" rel="stylesheet" />
    <link href="~/css/Admin/all.css" rel="stylesheet" />
    <link href="~/css/Admin/style.css" rel="stylesheet" />

</head>
<div class="text-center">

    <div class="banner" style="background-image: url('../../adminbg.jpg');">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    پنل مدیریت
                </div>
            </div>
        </div>
    </div>

    <div class="body-of-admin">
        <div class="container" style="direction: rtl;">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <partial name="_AdminNavbar" />
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="account-infos panel-boxes fullsize text-right">
                        <div class="allinfo-heading fullsize">
                            آمار کلی سایت
                        </div>
                        <div class="accountinfo-table fullsize">
                            <div class="my-rows">
                                <div class="acc-name acc-boxes">
                                    <div class="acc-label">
                                        تعداد جاذبه های گردشگری
                                    </div>
                                    <div class="acc-value">
                                        @Model.PlaceNumber
                                    </div>
                                </div>
                                <div class="acc-name acc-boxes">
                                    <div class="acc-label">
                                        تعداد دسته بندی
                                    </div>
                                    <div class="acc-value">
                                        @Model.categoryNumber
                                    </div>
                                </div>
                            </div>
                            <div class="my-rows">
                                <div class="acc-name acc-boxes">
                                    <div class="acc-label">
                                        تعداد کشور ها
                                    </div>
                                    <div class="acc-value">
                                       @Model.CountryNumber
                                    </div>
                                </div>
                                <div class="acc-name acc-boxes">
                                    <div class="acc-label">
                                        تعداد شهر ها
                                    </div>
                                    <div class="acc-value">
                                       @Model.CityNumber
                                    </div>
                                </div>
                            </div>
                            <div class="my-rows">
                                <div class="acc-name acc-boxes">
                                    <div class="acc-label">
                                        تعداد نظرات
                                    </div>
                                    <div class="acc-value">
                                        @Model.CommentNumber
                                    </div>
                                </div>
                                <div class="acc-name acc-boxes">
                                    <div class="acc-label">
                                        تعداد رای ها
                                    </div>
                                    <div class="acc-value">
                                        @Model.RateNumber
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>