@page
@model Travellingfront.Pages.Users.UserPannelModel
@{
}
<head>
    <link href="~/css/User/all.css" rel="stylesheet" />
    <link href="~/css/User/user.css" rel="stylesheet" />
    <link href="~/css/User/style.css" rel="stylesheet" />
</head>

<div class="text-center">
    <div class="banner" style="background-image: url('../../header.jpg')">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    پنل کاربری
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="direction: rtl;">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="panel-boxes">
                    <div class="profile-head">
                        <div class="profile-pic">
                            <img src="~/profile.png">
                        </div>
                        <div class="profile-name text-center" style="font-size:30px" >
                            <div>@Model.Me.FullName</div>
                        </div>
                    </div>
                    <div class="profile-foot fullsize">
                        <div class="edit-profile profile-boxes">
                            <a asp-page="./UserUpdate">
                                <img src="~/download.png" alt="Alternate Text" style="width: 25px; margin-bottom: 5px" />
                                <div type="submit" class="nav-link btn btn-link"> ویرایش حساب</div>
                            </a>
                        </div>
                        <div class="edit-profile profile-boxes">
                            <form class="form-inline" asp-page="./LogOut"
                                  asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                                  method="post">
                                <button type="submit" class="nav-link btn btn-link">
                                    <img src="~/Users-Exit-icon.png" alt="Alternate Text" style="width: 25px; margin-bottom: 5px" />
                                    <br />
                                    خروج از حساب
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="account-infos panel-boxes fullsize text-right">

                    <div class="allinfo-heading fullsize">
                        به پنل کاربری خود خوش آمدید
                    </div>

                    @if (Model.State != true)
                    {
                        <div class="title-favorite">
                            شما علاقه مندی انتخاب نکردید...
                        </div>
                        <div class="title-favorite">
                            برای افزودن علاقه مندی ، حساب خود را ویرایش کنید
                        </div>
                        <div>
                            <img src="~/sad.jpeg" class="country-item-image mx-auto" style="width:397px;height:288px">
                            <img src="~/sad2.png" class="country-item-image mx-auto" style="width:388px;height:296px">
                        </div>
                    }
                    else
                    {
                        for (int i = 0; i < Model.Recommendeds.Count; i++)
                        {
                        <div class="favorite-turist">
                            <div class="row country-item-row">
                                <div class="col-xl-7 text-right">
                                    <h3>@Model.Recommendeds[i].TuristPlaceName</h3>
                                    <p class="country-item-p text-right">
                                       @Model.Recommendeds[i].Description
                                    </p>
                                    <div class="float-left">
                                        @for (int j = 0; j < Convert.ToInt32(Model.Recommendeds[i].AverageRates); j++)
                                        {
                                            <span class="fa fa-star checked"></span>
                                        }
                                        @while (Model.Recommendeds[i].AverageRates < 5)
                                        {
                                            <span class="fa fa-star"></span>
                                            Model.Recommendeds[i].AverageRates++;
                                        }
                                        <span class="btn btn-info">تعداد کامنت : @Model.Recommendeds[i].CommentsNumber</span>
                                        <span class="text-info">تعداد بازدید : @Model.Recommendeds[i].Visit</span>
                                    </div>
                                </div>
                                <div class="col-xl-2 text-center">
                                    <div>
                                        <img src=@Model.Recommendeds[i].Image class="country-item-image mx-auto" style="width:300px;height:288px">
                                    </div>
                                </div>
                             </div>
                        </div>
                        }
                    }


                </div>
            </div>
        </div>
    </div>
</div>